# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Custom folder attributes from project usage on local machines
.DS_Store
.venv
.env

# Miscellaneous files/folders
data/
dist/
note_names.txt
