# Ignore Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Ignore custom folder atributes from project usage on local machines
.DS_Store

# Ignore sensitive credentials
google_docs_credentials.json
openai_credentials.json
token.json